{% extends 'layout.html' %}
{% block content %}


<div>

    <div class="container-fluid row header-home">
        <div class="col-8">
            <h1 class="h1-home">Cactus</h1>
            <p>Rejoins une communauté active et engagée à créer un monde plus vert en commençant par son foyer !</p>
        </div>
        <div class="col">
            <img src="./static/Images/maison-cactus.png" alt="illustration maison avec cactus à la fenêtre">
        </div>
    </div>

    <div>
        <h2>Sur Cactus, recherche tuto, forum, article et bien plus autour de l'écologie !</h2>
        <div class="container-fluid">
            <form method="GET" action="{{ url_for('research_accueil') }}">
                <label for="content_research">Mots clés</label>
                <input type="text" name="content_research" id="content_research">
                <button type="submit">Rechercher</button>
            </form>
            <div class="mb-3">
                <select class="form-select" aria-label="Type de contenu à afficher">
                    <option selected>Tous</option>
                    <option value="1">Fiche témoignage</option>
                    <option value="2">Fiche pratique</option>
                    <option value="3">Fiche conseil</option>
                    <option value="4">Forum</option>
                    <option value="5">Article scientifique</option>
                </select>
            </div>
            <div class="mb-3">
                <select class="form-select" aria-label="Pièce de la maison">
                    <option selected>Toutes</option>
                    <option value="1">Cuisine</option>
                    <option value="2">Salle de bain</option>
                    <option value="3">Chambre</option>
                    <option value="4">Salon</option>
                    <option value="5">Garage</option>
                    <option value="6">Jardin</option>
                </select>
            </div>
            <button class="btn btn-primary">Voir les articles</button>
        </div>
    </div>

    <div class="container-fluid">
        <p>Aujourd'hui c'est plus de <span> {{ data['impact'] }} </span> tonnes de CO2 émises en moins grâce à la
            communauté
            Cactus !</p>
        <p>Dont <span> {{ data['impact_now'] }} </span> depuis le 01/01/2023</p>
    </div>

    <div class="container-fluid">
        <h2>Les mini-jeux de Pousspousse</h2>
    </div>

</div>


{% endblock %}