{% extends 'layout.html' %} {% block content %}

<head>
    <!-- Charger les styles Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<div class="section-h1">
    <h1>Fiches {% if data["type_of_card"] == "1" %} pratique {% endif %} {% if data["type_of_card"] == "2" %} conseil {% endif %} {% if data["type_of_card"] == "3" %} témoignage {% endif %}</h1>
</div>

<div class="div-list forum">

    <h2>{{ data['title'] }}</h2>

    <div class="div-tags forum">
        <span> {{ data['room_name'] }} </span> {% for tag in data['tags_name'] %}
        <span> {{ tag }} </span> {% endfor %}
    </div>
    <!--- affichage des onglets et contenu -->
    {% if data["type_of_card"] == "1" %}
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Description</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tuto-tab" data-toggle="tab" href="#tuto" role="tab" aria-controls="tuto" aria-selected="false">Tuto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="materiel-tab" data-toggle="tab" href="#materiel" role="tab" aria-controls="materiel" aria-selected="false">Materiel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="impact-tab" data-toggle="tab" href="#impact" role="tab" aria-controls="impact" aria-selected="false">Impact</a></li>
            <li class="nav-item">
                <a class="nav-link" id="avis-tab" data-toggle="tab" href="#avis" role="tab" aria-controls="avis" aria-selected="false">Avis</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                <h2>Description</h2>
                <p>{{ data["description"]}}</p>
                <p>⏲{{ data["duration_exact"]}}minutes</p>
                <p>{% for i in range(data["cost"]|int) %} 💲 {% endfor %}</p>
                <p>{{ data["impact"]}}</p>
                <p>Ce qu'il faut savoir : {{ data["what_we_need_to_know"]}}</p>
            </div>
            <div class="tab-pane fade" id="tuto" role="tabpanel" aria-labelledby="tuto-tab">
                <h2>Tuto</h2>
                <p>{{ data["astuce_or_step_tuto"]}}</p>
            </div>
            <div class="tab-pane fade" id="materiel" role="tabpanel" aria-labelledby="materiel-tab">
                <h2>Materiel</h2>
                <p>Ce qu'il vous faudra : {{ data["material"]}}</p>
                <p>Où trouver le matériel : {{ data["position"] }}</p>

            </div>
            <div class="tab-pane fade" id="impact" role="tabpanel" aria-labelledby="impact-tab">
                <h2>Impacts</h2>
                <p>{{ data["impact"]}}</p>
            </div>
            <div class="tab-pane fade" id="avis" role="tabpanel" aria-labelledby="avis-tab">
                <h2>Avis</h2>
                <p>J'ai pas trouvé dans Directus les avis 😢</p>
            </div>
        </div>
    </div>
    {% endif %} {% if data["type_of_card"] == "2" %}
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Description</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="astuce-tab" data-toggle="tab" href="#astuce" role="tab" aria-controls="tuto" aria-selected="false">Astuce</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="impact-tab" data-toggle="tab" href="#impact" role="tab" aria-controls="impact" aria-selected="false">Impact</a></li>

        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                <h2>Description</h2>
                <p>{{ data["description"]}}</p>
                <p>{{ data["impact"]}}</p>
                <p>Ce qu'il faut savoir : {{ data["what_we_need_to_know"]}}</p>
            </div>
            <div class="tab-pane fade" id="astuce" role="tabpanel" aria-labelledby="astuce-tab">
                <h2>Astuce</h2>
                <p>{{ data["astuce_or_step_tuto"]}}</p>
            </div>
            <div class="tab-pane fade" id="impact" role="tabpanel" aria-labelledby="impact-tab">
                <h2>Impacts</h2>
                <p>{{ data["impact"]}}</p>
            </div>
        </div>
    </div>
    {% endif %} {% if data["type_of_card"] == "3" %}
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Description</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="temoignage-tab" data-toggle="tab" href="#temoignage" role="tab" aria-controls="temoignage" aria-selected="false">Témoignage</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="impact-tab" data-toggle="tab" href="#impact" role="tab" aria-controls="impact" aria-selected="false">Impact</a></li>

        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                <h2>Description</h2>
                <p>{{ data["description"]}}</p>
                <p>{{ data["impact"]}}</p>
                <p>Ce qu'il faut savoir : {{ data["what_we_need_to_know"]}}</p>
            </div>
            <div class="tab-pane fade" id="temoignage" role="tabpanel" aria-labelledby="temoignage-tab">
                <h2>Témoignage</h2>
                <p>""{{ data["astuce_or_step_tuto"]}}""</p>
            </div>
            <div class="tab-pane fade" id="impact" role="tabpanel" aria-labelledby="impact-tab">
                <h2>Impacts</h2>
                <p>{{ data["impact"]}}</p>
            </div>
        </div>
    </div>
    {% endif %}

</div>
<!-- Charger les scripts Bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

{% endblock %}