{% extends 'layout.html' %} 

{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="accueil">Accueil</a></li>
      <li class="breadcrumb-item active" aria-current="page">Fiches</li>
    </ol>
</nav>

<div class="section-h1">
    <h1>Fiches</h1>
</div>

<div>

    <div class="container-fluid">
        <p class="p-intro">
            Dans l'espace Fiches, retrouve conseils, DIY et témoignages
            partagés par tous les utilisateur·ices de Cactus.
        </p>
    </div>

    <div class="container-fluid div-form-cards">
        <form method="GET" action="{{ url_for('research_in_cards') }}">
            <div class="form-group input-content-research">
                <label for="content_research">Mots clés</label>
                <input class="form-control" type="text" name="content_research" id="content_research">
                <button type="submit">Rechercher</button>
            </div>
        </form>

        <form>
            <div class="form-group select-content-type">
                <label>Type de contenu à afficher</label>
                <select class="form-control form-select" aria-label="Type de contenu à afficher">
                    <option selected>Tous</option>
                    <option value="1">Fiche témoignage</option>
                    <option value="2">Fiche pratique</option>
                    <option value="3">Fiche conseil</option>
                </select>
            </div>

        
            <div class="row justify-content-center">
                <div class="form-check div-room-checkbox col-2">
                    <img src="./static/Images/cutting-board.png" alt="illustration pelle et rateau dans un jardin">
                    <div>
                        <input class="form-check-input" type="checkbox" value="" id="checkKitchen">
                        <label class="form-check-label" for="checkKitchen">
                            Cuisine
                        </label>
                    </div>
                </div>
                <div class="form-check div-room-checkbox col-2">
                    <img src="./static/Images/bath.png" alt="illustration pelle et rateau dans un jardin">
                    <div>
                        <input class="form-check-input" type="checkbox" value="" id="checkBathroom">
                        <label class="form-check-label" for="checkBathroom">
                            Salle de bain
                        </label>
                    </div>
                </div>
                <div class="form-check div-room-checkbox col-2">
                    <img src="./static/Images/garage.png" alt="illustration pelle et rateau dans un jardin">
                    <div>
                        <input class="form-check-input" type="checkbox" value="" id="checkGarage">
                        <label class="form-check-label" for="checkGarage">
                            Garage
                        </label>
                    </div>
                </div>
                <div class="form-check div-room-checkbox col-2">
                    <img src="./static/Images/couch.png" alt="illustration pelle et rateau dans un jardin">
                    <div>
                        <input class="form-check-input" type="checkbox" value="" id="checkLivingRoom">
                        <label class="form-check-label" for="checkLivingRoom">
                            Salon
                        </label>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="form-check div-room-checkbox col-2">
                    <img src="./static/Images/bed.png" alt="illustration pelle et rateau dans un jardin">
                    <div>
                        <input class="form-check-input" type="checkbox" value="" id="checkBedroom">
                        <label class="form-check-label" for="checkBedroom">
                            Chambre
                        </label>
                    </div>
                </div>
                <div class="form-check div-room-checkbox col-2">
                    <img src="./static/Images/gardening.png" alt="illustration pelle et rateau dans un jardin">
                    <div>
                        <input class="form-check-input" type="checkbox" value="" id="checkGarden">
                        <label class="form-check-label" for="checkGarden">
                            Jardin
                        </label>
                    </div>
                </div>
                <div class="form-check div-room-checkbox col-2">
                    <img src="./static/Images/house.png" alt="illustration pelle et rateau dans un jardin">
                    <div>
                        <input class="form-check-input" type="checkbox" value="" id="checkAllRooms">
                        <label class="form-check-label" for="checkAllRooms">
                            Maison entière
                        </label>
                    </div>
                </div>
            </div>
            <div class="div-form-button">
                <a role="button" href="" class="icon icon-solid icon-chevron-right btn btn-primary">Rechercher</a>
            </div>
        </form>
    
    </div>
</div>

<div class="container-fluid">
    <!-- on parcourt la liste d qui contient autant de dict que de fiches dans directus -->
    {% for card in data %}
    <div class="div-list acard">

        {% if card['type_of_card'] == "1" %}
        <div class="div-head-list-cards">
            <span class="type-card pratique icon icon-regular icon-wrench">Fiche pratique</span>
            <h3 class="title-list-item">{{ card['title'] }}</h3>
        </div>
        <div class="div-tags-button">
            <div class="div-tags pratique">
                <span> {{ card['room_name'] }} </span>
                {% for tag in card['tags_name'] %}
                <span> {{ tag }} </span>
                {% endfor %}
            </div>
            {% set idFiche = card['id']|string %}
            <a role="button" href="{{ url_for('fiche', idFiche=card['id']|string) }}"
                class="icon icon-solid icon-chevron-right btn btn-outline-secondary">Voir plus</a>
        </div>

        {% elif card['type_of_card'] == "2" %}
        <div class="div-head-list-cards">
            <span class="type-card temoignage icon icon-regular icon-micro">Fiche témoignage</span>
            <h3 class="title-list-item">{{ card['title'] }}</h3>
        </div>
        <div class="div-tags-button">
            <div class="div-tags temoignage">
                <span> {{ card['room_name'] }} </span>
                {% for tag in card['tags_name'] %}
                <span> {{ tag }} </span>
                {% endfor %}
            </div>
            {% set idFiche = card['id']|string %}
            <a role="button" href="{{ url_for('fiche', idFiche=card['id']|string) }}"
                class="icon icon-solid icon-chevron-right btn btn-outline-secondary">Voir plus</a>
        </div>

        {% else %}
        <div class="div-head-list-cards">
            <span class="type-card conseil icon icon-regular icon-lightbulb">Fiche conseil</span>
            <h3 class="title-list-item">{{ card['title'] }}</h3>
        </div>
        <div class="div-tags-button">
            <div class="div-tags conseil">
                <span> {{ card['room_name'] }} </span>
                {% for tag in card['tags_name'] %}
                <span> {{ tag }} </span>
                {% endfor %}
            </div>
            {% set idFiche = card['id']|string %}
            <a role="button" href="{{ url_for('fiche', idFiche=card['id']|string) }}"
                class="icon icon-solid icon-chevron-right btn btn-outline-secondary">Voir plus</a>
        </div>

        {% endif %}

    </div>
    {% endfor %}

</div>

<div class="cta-post">
    <p>Tu veux partager une astuce, une alternative, ou témoigner ?</p>
    <form method="POST" action="{{ url_for('handle_button_click') }}">
        <a role="button" class="icon icon-solid icon-plus btn btn-primary">Poster une fiche</a>
    </form>
</div>

<form method="DELETE" action="{{ url_for('button_click_delete') }}">
    <button type="submit">Supprimer une fiche</button>
</form>

<form method="SET" action="{{ url_for('button_click_set') }}">
    <button type="submit">Modifier une fiche</button>
</form>

</div>

{% endblock %}