{% extends 'layout.html' %} {% block content %}

<link rel="stylesheet" type="text/css" href="/static/fiches.css">
<!-- Inclure jQuery et Bootstrap -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.1/css/bootstrap.min.css" integrity="sha512-e+I5q3MP5WzzXd+nLJ/PFzgIlpUNr47avdRRDhxYv1c2QF0xfxLlCfZEDlKPTe5CpP9r8nLdEZDvYwON2QeBxw==" crossorigin="anonymous" referrerpolicy="no-referrer"
/>


<div class="section-h1">
    <h1>Fiches {% if data["type_of_card"] == "1" %} pratique {% elif data["type_of_card"] == "3" %} conseil {% else %} témoignage {% endif %}</h1>
</div>

<div class="container-fluid">

    <h2>{{ data['title'] }} </h2>

    <div class="div-tags pratique">
        <span> {{ data['room_name'] }} </span> {% for tag in data['tags_name'] %}
        <span> {{ tag }} </span> {% endfor %}
    </div>

    <!--- affichage des onglets et contenu -->

    <!--- pratique -->
    {% if data["type_of_card"] == "1" %}
    <div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description-pratique" role="tab" aria-controls="description-pratique" aria-selected="true">Description</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tuto-tab" data-toggle="tab" href="#tuto" role="tab" aria-controls="tuto" aria-selected="false">Tuto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="materiel-tab" data-toggle="tab" href="#materiel" role="tab" aria-controls="materiel" aria-selected="false">Materiel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="impact-tab" data-toggle="tab" href="#impact-pratique" role="tab" aria-controls="impact-pratique" aria-selected="false">Impact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="avis-tab" data-toggle="tab" href="#avis" role="tab" aria-controls="avis" aria-selected="false">Avis</a>
            </li>
        </ul>

        <div class="tab-content" id="tabContent-pratique">
            <div class="tab-pane fade show active" id="description-pratique" role="tabpanel" aria-labelledby="description-tab">
                <div class="row">
                    <div class="col-5">
                        <div class="div-pin dark">
                            <img src="{{ images['left-clear-clip'] }}" alt="trombone">
                            <p><i class="fa-regular fa-clock"></i>{{ data["duration_exact"]}}minutes</p>
                            <p>{% for i in range(data["cost"]|int) %} <i class="fa-solid fa-euro-sign"></i> {% endfor %}
                            </p>
                            <p>Ce qu'il faut savoir : {{ data["what_we_need_to_know"]}}</p>
                        </div>
                        <div class="div-pin clear">
                            <img src="{{ images['left-dark-clip'] }}" alt="trombone">
                            <div class="row">
                                <div class="col-3">
                                    <img src="{{ images['love-earth'] }}" alt="planete terre avec coeur">
                                </div>
                                <div class="col">
                                    <p>{{ data["impact_details"]["numerical_data"] }} {{ data["impact_details"]["unit"] }}
                                    </p>
                                    <p>{{ data["impact_details"]["sentence_on_data"] }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="mod" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Pratique adoptée !</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Bravo tu viens d'adopter une nouvelle pratique !
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Super, je continue !</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col">
                        <p>{{ data["description"]}}</p>
                        {% if adopted == false%}
                        <form method="GET" data-bs-toggle="modal" data-bs-target="#mod" action="{{ url_for('button_click_adopt',idFiche=idFiche) }}">
                            <button type="submit" class="btn btn-primary btn-adopt">J'adopte cette pratique
                                !</button>
                            <input type="hidden" name="idFiche" value="{{ idFiche }}">
                        </form>
                        {% endif %} {% if adopted == true %}
                        <form method="GET" data-bs-toggle="modal" data-bs-target="#mod" action="{{ url_for('button_click_unadopt',idFiche=idFiche) }}">
                            <button type="submit" class="btn btn-primary btn-adopt">Je n'adopte plus cette
                                pratique</button>
                            <input type="hidden" name="idFiche" value="{{ idFiche }}">
                        </form>
                        {% endif %}

                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="tuto" role="tabpanel" aria-labelledby="tuto-tab">
                <div class="d-flex justify-content-between mb-4 mx-4">
                    <a role="button" href="" class="icon icon-regular icon-arrow-down-to-bracket btn btn-outline-secondary">Télécharger
                        la fiche</a>
                    <a role="button" href="" class="icon icon-regular icon-share-nodes btn btn-outline-secondary">Partager la fiche</a>
                </div>
                {% set steps = data["astuce_or_step_tuto"].split(";") %}
                {% for s in range(steps|length - 1) %}
                    {% if s % 2 == 0 %}
                    <div class="col-10 div-pin dark">
                        <img src="{{ images['left-clear-clip'] }}" alt="trombone">
                        <p> Etape {{ s + 1 }} :</p>
                        <p>{{ steps[s] }}</p>
                    </div>
                    <div class="col-10 div-pin clear">
                        <img src="{{ images['left-dark-clip'] }}" alt="trombone">
                        <p> Etape {{ s + 2 }} :</p>
                        <p>{{ steps[s+1] }}</p>
                    </div>
                    {% endif %}
                {% endfor %}
                <div class="d-flex justify-content-center mt-5">
                    {% if adopted == false%}
                    <form method="GET" data-bs-toggle="modal" data-bs-target="#mod" action="{{ url_for('button_click_adopt',idFiche=idFiche) }}">
                        <button type="submit" class="btn btn-primary btn-adopt">J'adopte cette pratique !</button>
                        <input type="hidden" name="idFiche" value="{{ idFiche }}">
                    </form>
                    {% endif %} {% if adopted == true %}
                    <form method="GET" data-bs-toggle="modal" data-bs-target="#mod" action="{{ url_for('button_click_unadopt',idFiche=idFiche) }}">
                        <button type="submit" class="btn btn-primary btn-adopt">Je n'adopte plus cette
                            pratique</button>
                        <input type="hidden" name="idFiche" value="{{ idFiche }}">
                    </form>
                    {% endif %}
                </div>
            </div>

            <div class="tab-pane fade" id="materiel" role="tabpanel" aria-labelledby="materiel-tab">
                <div class="row mx-0">
                    <div class="col-4 mx-3">
                        <p><i class="fa-regular fa-screwdriver-wrench"></i> Ce qu'il vous faudra :</p>
                        {% set materials = data["material"].split(",") %}
                        <ul>
                            {% for m in materials %}
                            <li>{{ m }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col div-pin clear right">
                        <p><i class="fa-regular fa-map-location-dot"></i> Où trouver le matériel ?</p>
                        <p>Vous verrez ici une carte avec les magasins autour de vous qui vendent le matériel si vous activez votre géolocalisation...</p>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="impact-pratique" role="tabpanel" aria-labelledby="impact-tab">
                <div>
                    {% set impact = data["impact_details"]['numerical_data'] * 12 * 100 %} {% if data["impact_details"]['impact_topic'] == '1' %} {% set type_phrase = "d'eau seront économisés en 1 an." %} {% elif data["impact_details"]['impact_topic'] == '2' %} {% set type_phrase
                    = "de plastique ne seront pas jetés en 1 an." %} {% elif data["impact_details"]['impact_topic'] == '3' %} {% set type_phrase = "de CO2 ne seront pas émis en 1 an." %} {% endif %}
                    <p> Si 100 personnes suivent cette alternative, {{ impact }} {{ data["impact_details"]['unit'] }} {{ type_phrase }}</p>
                </div>
            </div>

            <div class="tab-pane fade" id="avis" role="tabpanel" aria-labelledby="avis-tab">
                <div>
                    <img src="{{ session['avatar'] }}" alt="votre avatar">
                    <p>{{ session["pseudo"] }}</p>
                    <form id="com-form" enctype="multipart/form-data" method="POST" action="{{ url_for('com_card') }}">
                        <textarea id="com" name="com" class="form-control">Ecris ta réponse ici...</textarea>
                        <p>Mon avis est :</p>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="comRadio" id="comRadio1" value="1" checked>
                            <label class="form-check-label" for="comRadio1">Commentaire</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="comRadio" id="comRadio2" value="2">
                            <label class="form-check-label" for="comRadio2">Suggestion</label>
                        </div>
                        <input id="id-card" name="id-card" type="hidden" value="{{ data['id'] }}">
                        <button type="submit" class="btn btn-primary btn-adopt">Publier</button>
                    </form>
                </div>

                <p>Les avis de la communauté</p>
                {% for c in range(data["comments"]|length) %}
                <div class="row comment mx-3">
                    <div class="col-1">
                        <img src=' {{ data["comments"][c]["avatar"] }} ' alt="avatar">
                    </div>
                    <div class="col">
                        <div class="d-flex justify-content-between">
                            <div>
                                {{ data["comments"][c]["pseudo"] }} {{ data["comments"][c]["date_created"] }}
                            </div>
                            <div class="d-flex">
                                {% if data["comments"][c]["comment_type"] == "Commentaire" %}
                                <i class="fa-regular fa-thought-bubble"></i> {% else %}
                                <i class="fa-regular fa-gears"></i> {% endif %} {{ data["comments"][c]["comment_type"] }}
                            </div>
                        </div>
                        {{ data["comments"][c]["text"] }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!--- conseil -->
    {% elif data["type_of_card"] == "3" %}
    <div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description-conseil" role="tab" aria-controls="description-conseil" aria-selected="true">Description</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="astuce-tab" data-toggle="tab" href="#astuce" role="tab" aria-controls="tuto" aria-selected="false">Astuce</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="impact-tab" data-toggle="tab" href="#impact-conseil" role="tab" aria-controls="impact-conseil" aria-selected="false">Impact</a>
            </li>

        </ul>
        <div class="tab-content" id="tabContent-conseil">
            <div class="tab-pane fade show active" id="description-conseil" role="tabpanel" aria-labelledby="description-tab">
                <div class="row">
                    <div class="col-5">
                        <div class="div-pin dark">
                            <img src="{{ images['left-clear-clip'] }}" alt="trombone">
                            <p>Ce qu'il faut savoir : {{ data["what_we_need_to_know"]}}</p>
                        </div>
                        <div class="div-pin clear">
                            <img src="{{ images['left-dark-clip'] }}" alt="trombone">
                            <div class="row">
                                <div class="col-3">
                                    <img src="{{ images['love-earth'] }}" alt="planete terre avec coeur">
                                </div>
                                <div class="col">
                                    <p>{{ data["impact_details"]["numerical_data"] }} {{ data["impact_details"]["unit"] }}</p>
                                    <p>{{ data["impact_details"]["sentence_on_data"] }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col div-description justify-content-center">
                        <p>{{ data["description"]}}</p>
                    </div>
                    <div class="modal fade" id="mod" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Pratique adoptée !</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Bravo tu viens d'adopter une nouvelle pratique !
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Super, je continue !</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-5">
                        {% if adopted == false%}
                        <form method="GET" data-bs-toggle="modal" data-bs-target="#mod" action="{{ url_for('button_click_adopt',idFiche=idFiche) }}">
                            <button type="submit" class="btn btn-primary btn-adopt">J'adopte ce conseil
                                !</button>
                            <input type="hidden" name="idFiche" value="{{ idFiche }}">
                        </form>
                        {% endif %} {% if adopted == true %}
                        <form method="GET" data-bs-toggle="modal" data-bs-target="#mod" action="{{ url_for('button_click_unadopt',idFiche=idFiche) }}">
                            <button type="submit" class="btn btn-primary btn-adopt">Je n'adopte plus ce conseil
                            </button>
                            <input type="hidden" name="idFiche" value="{{ idFiche }}">
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="astuce" role="tabpanel" aria-labelledby="astuce-tab">
                {% set steps = data["astuce_or_step_tuto"].split(";") %}
                {% for s in range(steps|length - 1) %}
                    {% if s % 2 == 0 %}
                    <div class="col-10 div-pin dark">
                        <img src="{{ images['left-clear-clip'] }}" alt="trombone">
                        <p>{{ steps[s] }}</p>
                    </div>
                        {% if steps[s+1] %}
                        <div class="col-10 div-pin clear">
                            <img src="{{ images['left-dark-clip'] }}" alt="trombone">
                            <p>{{ steps[s+1] }}</p>
                        </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <div class="d-flex justify-content-center mt-5">
                    {% if adopted == false%}
                    <form method="GET" data-bs-toggle="modal" data-bs-target="#mod" action="{{ url_for('button_click_adopt',idFiche=idFiche) }}">
                        <button type="submit" class="btn btn-primary btn-adopt">J'adopte ce conseil
                            !</button>
                        <input type="hidden" name="idFiche" value="{{ idFiche }}">
                    </form>
                    {% endif %} {% if adopted == true %}
                    <form method="GET" data-bs-toggle="modal" data-bs-target="#mod" action="{{ url_for('button_click_unadopt',idFiche=idFiche) }}">
                        <button type="submit" class="btn btn-primary btn-adopt">Je n'adopte plus ce conseil
                        </button>
                        <input type="hidden" name="idFiche" value="{{ idFiche }}">
                    </form>
                    {% endif %}
                </div>
            </div>
            <div class="tab-pane fade" id="impact-conseil" role="tabpanel" aria-labelledby="impact-tab">
                {% set impact = data["impact_details"]['numerical_data'] * 12 * 100 %} {% if data["impact_details"]['impact_topic'] == '1' %} {% set type_phrase = "d'eau seront économisés en 1 an." %} {% set extract = "Qu’est-ce que l’empreinte-eau? “Elle correspond
                au volume d’eau nécessaire à la production de produits alimentaires et industriels et de services, y compris l’eau utilisée dans les chaînes d’approvisionnement.” Nous consommons de l’eau sans toujours nous en rendre compte. En effet,
                selon notre alimentation (quantité de viande, céréales, légumes, fruits…) et notre consommation domestique d’eau (nombre de douches, lavages de dents et de mains par jour, durée moyenne d’une douche, nombre de lessives et de bains par
                semaine, etc.), nous consommons plus ou moins d’eau. Il peut être difficile de se réaliser notre consommation effective, ainsi l’empreinte eau peut nous y aider!" %} {% elif data["impact_details"]['impact_topic'] == '2' %} {% set type_phrase
                = "de plastique ne seront pas jetés en 1 an." %} {% set extract = "Le Principe des 5R Cette pratique peut être appréhendée par le principe des 5R de Béa Johnson (refuser, réduire, réutiliser, recycler, rendre à la Terre). Le gel d’Aloe
                Vera est utile à plusieurs fins (refuser et réduire) et sa fabrication maison permet de réutiliser un même récipient. L’écorce de la feuille étant le seul déchet, il peut être facilement recyclé/ composté (les deux derniers R)." %} {%
                elif data["impact_details"]['impact_topic'] == '3' %} {% set type_phrase = "de CO2 ne seront pas émis en 1 an." %} {% endif %}
                <div>
                    <p> Si 100 personnes suivent cette alternative, {{ impact }} {{ data["impact_details"]['unit'] }} {{ type_phrase }}</p>
                </div>
                <div>
                    <p> {{ extract }} </p>
                </div>
            </div>
        </div>
    </div>

    <!--- témoignage -->
    {% else %}
    <div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description-temoignage" role="tab" aria-controls="description-temoignage" aria-selected="true">Description</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="temoignage-tab" data-toggle="tab" href="#temoignage" role="tab" aria-controls="temoignage" aria-selected="false">Témoignage</a>
            </li>
            <!-- On a pas gérer les données contenues dans cet onglet, peut-être l'enlever pour l'instant
                <li class="nav-item">
                <a class="nav-link" id="impact-tab" data-toggle="tab" href="#impact-temoignage" role="tab"
                    aria-controls="impact-temoignage" aria-selected="false">Impact</a>
            </li> -->
        </ul>
        <div class="tab-content" id="tabContent-temoignage">
            <div class="tab-pane fade show active" id="description-temoignage" role="tabpanel" aria-labelledby="description-tab">
                <div class="row">
                    <div class="col-2">
                        <div class="">
                            <img src="{{ data['avatar'] }}" alt="avatar">
                            <p>Pseudo</p>
                        </div>
                    </div>
                    <div class="col div-description justify-content-center">
                        <p>{{ data["description"] }}</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="temoignage" role="tabpanel" aria-labelledby="temoignage-tab">
                <div class="row">
                    <div class="col-2">
                        <div class="">
                            <img src=" {{ data['avatar'] }} " alt="avatar">
                            <p>{{ data["pseudo"] }}</p>
                        </div>
                    </div>
                    <div class="col div-description justify-content-center">
                        <p><i class="fa-solid fa-quote-left"></i> {{ data["shared_experience"] }} <br> <i class="fa-solid fa-quote-right"></i></p>
                    </div>
                </div>
            </div>
            <!-- Peut-être retirer cet onglet pour l'instant ?
                <div class="tab-pane fade" id="impact-temoignage" role="tabpanel" aria-labelledby="impact-tab">
                {% if data["impact_details"]['impact_topic'] == '1' %}
                    {% set type = "d'eau." %}
                    {% set verb = "économisé " %}
                {% elif data["impact_details"]['impact_topic'] == '2' %}
                    {% set type = "de plastique." %}
                    {% set verb = "évité de jeter " %}
                {% elif data["impact_details"]['impact_topic'] == '3' %}
                    {% set type = "de CO2." %}
                    {% set verb = "éviter l'émission de " %}
                {% endif %}
                <p>{{ data["pseudo"] }} indique avoir {{ verb }}{{ data["impact_details"]['numerical_data'] }} {{ data["impact_details"]['unit'] }} {{ type }}</p>
            </div> -->
        </div>
    </div>
    {% endif %}

</div>

<!-- Vérifier la valeur de la variable Flask et afficher la modale en conséquence -->
{% if adopted == True%}
<script>
    $(document).ready(function() {
        $('#mod').modal('show');
    });
</script>
{% endif %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

{% endblock %}