{% extends 'layout.html' %}

{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="accueil">Accueil</a></li>
      <li class="breadcrumb-item active" aria-current="page">Forums</li>
    </ol>
</nav>

<div class="section-h1">
    <h1>Forums</h1>
</div>

<div class="d-flex flex-column">
    <div class="container-fluid">
        <p class="p-intro">
            C'est dans cet espace que toute la communauté de Cactus s'entraide et s'échange
            ses conseils pour aller plus loin dans la vie en vert !
        </p>
    </div>

    <div class="div-form-forums">
        <form method="GET" action="{{ url_for('research_in_forums') }}">
            <div class="input-content-research">
                <label for="content_research">Rechercher un sujet de forum</label>
                <input class="form-control" type="text" placeholder="Quel compost choisir ?..." name="content_research" id="content_research">
                <button type="submit" class="btn btn-primary">Rechercher</button>
            </div>
        </form>
    </div>

    <div class="cta-post">
        <p>Tu ne trouves pas de sujet correspondant à ta réflexion ? </p>
        <form method="POST" action="{{ url_for('handle_button_click') }}">
            <a role="button" class="icon icon-solid icon-chevron-right btn btn-primary">Poster un forum</a>
        </form>
    </div>

    <div class="container-fluid">
        <!-- on parcourt la liste d qui contient autant de dict que de forums dans directus -->
        {% for forum in data %}
        <div class="div-list forum">
            <h3 class="title-list-item">{{ forum['title'] }}</h3>
            <!-- Pour la date créer notre propre filtre sera plus efficace -->
            <p>Publié par {{ forum['pseudo'] }} le {{ forum['date_created'] }} <i class="fa-regular fa-comment-lines"></i>{{ forum['comments']|length }} posts</p>

            <div class="div-tags-button">
                <div class="div-tags forum">
                    <span> #{{ forum['room_name'] }} </span>
                    {% for tag in forum['tags_name'] %}
                    <span> #{{ tag }} </span>
                    {% endfor %}
                </div>

                {% set idForum = forum['id']|string %}
                <a href="{{ url_for('forum', idForum=forum['id']|string) }}"
                    class="icon icon-solid icon-chevron-right btn btn-outline-secondary">Voir plus</a>

            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}