{% extends 'layout.html' %}

{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="accueil">Accueil</a></li>
      <li class="breadcrumb-item"><a href="forums">Forums</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ data['title'] }}</li>
    </ol>
</nav>

<div class="section-h1">
    <h1>Forums</h1>
</div>

<div class="">

    <div id="subject" class="div-list forum d-flex">
        <h2>{{ data['title'] }}</h2>

        <div class="div-tags forum">
            <span> #{{ data['room_name'] }} </span>
            {% for tag in data['tags_name'] %}
                <span> #{{ tag }} </span>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-1">
                <img class="avatar" src=" {{ data['avatar'] }} ">
            </div>
            <div class="col d-flex flex-column justify-content-center">
                <span class="span-pseudo">{{ data['pseudo'] }}</span>
                <span>{{ data['date_created'] }}</span>
            </div>
        </div>
        <p>{{ data['forum_subject'] }}</p>
        <button class="btn btn-primary align-self-end" onclick="toggle_visibility('1');">Répondre</button>
    </div>

    <div class="hidden-div" id="1" >
        <div class="d-flex flex-row">
            <div class="col-1">
                <img class="avatar" src="{{ session['avatar'] }}" alt="votre avatar">
            </div>
            <div class="col forum">
                <div class="d-flex  align-items-baseline">
                    <span class="span-pseudo">{{ session["pseudo"] }}</span>
                    <span>- {{ today }}</span>
                </div>
                <form id="com-form" enctype="multipart/form-data" method="POST" action="{{ url_for('com_forum') }}" class="d-flex flex-column">
                    <textarea id="com" name="com" class="form-control"> Ecris ta réponse ici... </textarea>
                    <input id="id-forum" name="id-forum" type="hidden" value="{{ data['id'] }}">
                    <button type="submit" class="btn btn-primary btn-adopt align-self-end mt-3">Poster ma réponse</button>
                </form>
            </div>
        </div>
    </div>

    {% set i = namespace(value=1) %}
    {% for c in range(data["comments"]|length) %}
        {% set i.value = i.value + 1 %}
    <div class="div-list forum com d-flex">
        <div class="d-flex flex-row">
            <div class="col-1">
                <img class="avatar" src=' {{ data["comments"][c]["avatar"] }} ' alt="avatar">
            </div>
            <div class="col forum">
                <div class="d-flex  align-items-baseline">
                    <span class="span-pseudo"> {{ data["comments"][c]["pseudo"] }} </span>
                    <span>- {{ data["comments"][c]["date_created"] }}</span>
                </div>
                <p class="mb-0">{{ data["comments"][c]["text"] }}</p>
            </div>
        </div>
        <button class="btn btn-outline-secondary align-self-end" onclick="toggle_visibility('{{i.value}}');">Répondre</button>
    </div>
    <div class="hidden-div" id="{{i.value}}" >
        <div class="d-flex flex-row">
            <div class="col-1">
                <img class="avatar" src="{{ session['avatar'] }}" alt="votre avatar">
            </div>
            <div class="col forum">
                <div class="d-flex  align-items-baseline">
                    <span class="span-pseudo">{{ session["pseudo"] }}</span>
                    <span>- {{ today }}</span>
                </div>
                <form id="com-form" enctype="multipart/form-data" method="POST" action="{{ url_for('com_forum') }}" class="d-flex flex-column">
                    <textarea id="com" name="com" class="form-control"> Ecris ta réponse ici... </textarea>
                    <input id="id-forum" name="id-forum" type="hidden" value="{{ data['id'] }}">
                    <input id="id-com" name="id-com" type="hidden" value="{{ data['comments'][c]['id'] }}">
                    <button type="submit" class="btn btn-primary btn-adopt align-self-end mt-3">Poster ma réponse</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

<script type="text/javascript">
    // permet de faire apparaître/disparaître les formulaires de réponse
    function toggle_visibility(id) {
        var div = document.getElementById(id);
        if ( div.classList.contains('hidden-div') ) {
            div.classList.remove('hidden-div');
            div.classList.add('form-com');
        } else {
            div.classList.add('hidden-div');
            div.classList.remove('form-com');
        }
    }
</script>

{% endblock %}