<nav class="navbar navbar-expand">
    <img src="{{ images['logo-cactus'] }}">
    <ul class="navbar-nav">
        {% for menu_item in ["accueil", "qui sommes-nous?", "fiches", "forums", "articles scientifiques", "jeux"] %}
        <li class="nav-item">
            <a class="nav-link {{ 'active' if menu_item==metadata.pagename else '' }}"
                href="{{ url_for(menu_item) }}">{{ menu_item|capitalize }}</a>
        </li>
        {% endfor %}

        {% if "logged" in session %}
        <li><a href="{{ url_for('profil') }}" class="btn"><i class="fa-sharp fa-regular fa-circle-user"></i></a></li>
        <li><a href="{{ url_for('logout') }}" class="btn">Déconnexion</a></li>
        {% else %}
        <li><a href="{{ url_for('login') }}" class="btn">Connexion</a></li>
        {% endif %}

    </ul>
</nav>