{% set list_pages = ({"accueil": "accueil"}, {"cactus": "cactus"}, {"fiches":"fiches"},
{"forums": "forums"}, {"articles_scientifiques": "articles_scientifiques"},
{"jeux": "jeux"}, {"connexion": "connexion"}) %}
<nav class="navbar navbar-expand">
    <img src="./static/Images/logo-cactus.png">
    <ul class="navbar-nav">
        {% for my_dict in list_pages %}
        {% for menu_item in my_dict.keys() %}
        <li class="nav-item">
            <a class="nav-link {{ 'active' if menu_item==metadata.pagename else '' }}"
                href="{{ url_for(my_dict[menu_item]) }}">{{ menu_item|capitalize }}</a>
        </li>
        {% endfor %}
        {% endfor %}
    </ul>
</nav>