{% extends 'layout.html' %}

{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="accueil">Accueil</a></li>
      <li class="breadcrumb-item active" aria-current="page">Profil</li>
    </ol>
</nav>

<div class="section-h1 d-flex">
    <h1>
        <img id="avatar-profile" src=" {{ session['avatar'] }} " alt="votre avatar">
        Profil de {{ session['pseudo'] }}
    </h1>
</div>

<div class="container-fluid row justify-content-around div-forums-articles-home">
    <div class="col-5 justify-content-between div-list acard">
        <p>Tu peux gérer tous les paramètres de ton compte et consulter et
            modifier les informations de ton profil à tout moment.
        </p>
        <a role="button" href="" class="icon icon-solid icon-chevron-right btn btn-primary">Informations du profil</a>
    </div>
    <div class="col-5 justify-content-between div-list acard">
        <p>Tu retrouveras ici tous les didacticiels que tu as déjà suivis et tous les autres.
        </p>
        <a role="button" href="" class="icon icon-solid icon-chevron-right btn btn-primary">Didacticiel</a>
    </div>
</div>

<div class="container-fluid div-bg orange">
    <h2>Tes pratiques adoptées</h2>

    {% for card in data['cards_adopted'][0:2] %}
     <div class="div-list acard">
        <div class="div-head-list-cards">
            <h3 class="title-list-item">{{ card['title'] }}</h3>
        </div>
        <div class="div-tags-button">
            <div class="div-tags pratique">
                <span> #{{ card['room_name'] }} </span>
                {% for tag in card['tags'] %}
                    <span> #{{ tag }} </span>
                {% endfor %}
            </div>
            {% set idFiche = card['id'] %}
            <a role="button" href="{{ url_for('fiche', idFiche=card['id']) }}"
                class="icon icon-solid icon-chevron-right btn btn-outline-secondary">Voir plus</a>
        </div>
    </div>
    {% endfor %}
    <div class="hidden-div" id="next_cards2">
        {% for card in data['cards_adopted'][2:] %}
        <div class="div-list acard">
            <div class="div-head-list-cards">
                <h3 class="title-list-item">{{ card['title'] }}</h3>
            </div>
            <div class="div-tags-button">
                <div class="div-tags pratique">
                    <span> #{{ card['room_name'] }} </span>
                    {% for tag in card['tags'] %}
                        <span> #{{ tag }} </span>
                    {% endfor %}
                </div>
                {% set idFiche = card['id'] %}
                <a role="button" href="{{ url_for('fiche', idFiche=card['id']) }}"
                    class="icon icon-solid icon-chevron-right btn btn-outline-secondary">Voir plus</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if data['cards_adopted']|length > 2 %}
        <button class="btn btn-outline-secondary" onclick="toggle_visibility('next_cards2');">Voir plus</button>
    {% endif %}
</div>

<div class="container-fluid div-bg d-flex flex-column">
    <h2>L'impact de tes pratiques par thématique</h2>
    <div class="d-flex flex-row justify-content-between my-5">
        <img src="/plot_plastique.png" alt="graphique du plastique que tu n'as pas acheter pendant
        les 5 mois derniers mois" class="graph">
        <img src="/plot_eau.png" alt="graphique de l'eau que tu as économisée
        les 5 mois derniers mois" class="graph">
    </div>
    <a role="button" href="communaute" class="icon icon-solid icon-chevron-right btn btn-outline-secondary align-self-end">
        Voir l’impact de la Communauté</a>
</div>

<div class="container-fluid div-bg green">
    <h2>Les fiches postées</h2>
    {% for card in data['cards_suggested'][0:2] %}
    <div class="div-list acard">
        <div class="row">
            <div class="col-1 statut d-flex flex-column justify-content-center align-items-center">
                {% if card['publication_status'] == "2" or card['publication_status'] == "3" %}
                    <i class="fa-solid fa-check"></i> 
                    <span>Publiée</span>
                {% else %}
                    <i class="fa-regular fa-clock"></i> 
                    <span>En attente</span>
                {% endif %}
            </div>
            <div class="col">
                <div class="div-head-list-cards flex-column">
                    <p>Publiée le : {{ card['date_created'] }}</p>
                    <h3 class="title-list-item">{{ card['title'] }}</h3>
                </div>
                <div class="div-tags-button">
                    <div class="div-tags pratique">
                        <span> #{{ card['room_name'] }} </span>
                        {% for tag in card['tags'] %}
                            <span> #{{ tag }} </span>
                        {% endfor %}
                    </div>
                    {% set idFiche = card['id'] %}
                    <a role="button" href="{{ url_for('fiche', idFiche=card['id']) }}"
                        class="icon icon-solid icon-chevron-right btn btn-outline-secondary">Voir plus</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="hidden-div" id="next_cards2">
        {% for card in data['cards_suggested'][2:] %}
        <div class="div-list acard">
            <div class="row">
                <div class="col-1 statut d-flex flex-column justify-content-center align-items-center">
                    {% if card['publication_status'] == "2" or card['publication_status'] == "3" %}
                        <i class="fa-solid fa-check"></i> 
                        <span>Publiée</span>
                    {% else %}
                        <i class="fa-regular fa-clock"></i> 
                        <span>En attente</span>
                    {% endif %}
                </div>
                <div class="col">
                    <div class="div-head-list-cards flex-column">
                        <p>Publiée le : {{ card['date_created'] }}</p>
                        <h3 class="title-list-item">{{ card['title'] }}</h3>
                    </div>
                    <div class="div-tags-button">
                        <div class="div-tags pratique">
                            <span> #{{ card['room_name'] }} </span>
                            {% for tag in card['tags'] %}
                                <span> #{{ tag }} </span>
                            {% endfor %}
                        </div>
                        {% set idFiche = card['id'] %}
                        <a role="button" href="{{ url_for('fiche', idFiche=card['id']) }}"
                            class="icon icon-solid icon-chevron-right btn btn-outline-secondary">Voir plus</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div> 
    {% if data['cards_suggested']|length > 2 %}
        <button class="btn btn-outline-secondary" onclick="toggle_visibility('next_cards2');">Voir plus</button>
    {% endif %}
</div>

<script type="text/javascript">
    function toggle_visibility(id) {
        var e = document.getElementById(id);
        if(e.style.display == 'block')
           e.style.display = 'none';
        else
           e.style.display = 'block';
    }
 </script>

{% endblock %}