{% extends 'layout.html' %}

{% block content %}

<div class="section-h1">
    <img src=" {{ session['avatar'] }} " alt="votre avatar">
    <h1>Profil de {{ session['pseudo'] }}</h1>
</div>

<div class="row">
    <div class="col">
        <p>
            Tu peux gérer tous les paramètres de ton compte et consulter et
            modifier les informations de ton profil à tout moment.
        </p>
        <button class="btn btn-primary">Informations du profil</button>
    </div>

    <div class="col">
        <p>
            Tu retrouveras ici tous les didacticiels que tu as déjà suivis et tous les autres.
        </p>
        <button class="btn btn-primary">Didacticiel</button>
    </div>
</div>

<div>
    <h2>L'impact de tes pratiques par thématique</h2>
    {{ session['alternative_card_adopted'] }}
    {{ data }}
    <button class="btn btn-primary">Voir plus</button>
</div>

<div>
    <h2>Les fiches postées</h2>
</div>

<li>test</li>

{% endblock %}