{% extends 'layout.html' %} {% block content %}
<style>
    .avatar-preview {
        max-width: 100px;
        max-height: 100px;
        margin-left: 10px;
    }
    
    #tagId {
        display: none;
    }
</style>


<div class="section-h1">
    <h1>Inscription</h1>
</div>
<div class="container-fluid">
    <form id="register-form" enctype="multipart/form-data" method="POST" action="{{ url_for('register') }}">
        <div id="step1">
            <h2>Crée ton compte !</h2>
            <p>Pour commencer, renseigne ton e-mail comme identifiant, crée un mot de passe et enfin 
                décide du pseudo et de l’avatar par lequel tu souhaites que les autres membres t’identifie. </p>
            <div class="row justify-content-around">
                <div class="col-5">
                    <div class="sign-up">
                        <label for="email">Adresse e-mail *</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="exemple@mail.fr" required>
                    </div>
                    <div class="sign-up">
                        <label for="password-input">Mot de passe*</label>
                        <input type="password" class="form-control" id="password" oninput="checkInputs()" name="password">
                        <div class="form-text">Le mot de passe doit contenir au moins 8 caractères et au moins 1 caractère spécial.</div>
                    </div>
                    <div class="sign-up">
                        <label for="passwordComfirmation-input" class="form-label">Confirmation du mot de passe *</label>
                        <input type="password" class="form-control" id="passwordComfirmation" oninput="checkInputs()" name="passwordComfirmation">
                    </div>
                    <div id="error-message"></div>
                    <div class="sign-up">
                        <label for="pseudo-input" class="form-label">Pseudo (Visible par la communauté) *</label>
                        <input type="text" class="form-control" id="pseudo" name="pseudo" aria-required="">
                    </div>
                </div>
                <div class="col-5">
                    <label for="avatar">Avatar :</label>
                    {% set static_folder = url_for('static', filename='') %}
                    <div class="div-room-checkbox sign-up">
                        <label class="form-check-label" for="image-1">
                            <input type="radio" class="form-check-input" name="image" id="image-1" value="1.png">
                            <img src="{{ static_folder }}Avatar/1.png" alt="Image 1" width="100">
                        </label>
                    </div>
                    <div class="div-room-checkbox sign-up">
                        <label class="form-check-label" for="image-2">
                            <input type="radio" class="form-check-input" name="image" id="image-2" value="2.png">
                            <img src="{{ static_folder }}Avatar/2.png" alt="Image 2" width="100">
                        </label>
                    </div>
                    <div class="div-room-checkbox sign-up">
                        <label class="form-check-label" for="image-3">
                            <input type="radio" class="form-check-input" name="image" id="image-3" value="3.png">
                            <img src="{{ static_folder }}Avatar/3.png" alt="Image 3" width="100">
                        </label>
                    </div>
                    <div class="div-room-checkbox sign-up">
                        <label class="form-check-label" for="image-4">
                            <input type="radio" class="form-check-input" name="image" id="image-4" value="4.png">
                            <img src="{{ static_folder }}Avatar/4.png" alt="Image 4" width="100">
                        </label>
                    </div>
                </div>
            </div>
        </div>

<!--         <div id="step2" class="hidden-div">
            <h2>Etape 2 : Renseigne tes préférences ! </h2>
            <p>Paramètre tes notifications et clique sur les tags ci-dessous pour renseigner tes centres d'intérêts.
            </p>
            <h3>Paramètres de notifications</h3>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="friendficheToggle">
                    <label class="form-check-label" for="friendficheToggle">Recevoir des notifications des fiches de
                        pratiques publiées par ses ami·es.</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="newficheToggle">
                    <label class="form-check-label" for="newficheToggle">Recevoir des notifications lorsqu’un nouvel
                        article est publié.</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="newforumToggle">
                    <label class="form-check-label" for="newforumToggle">Recevoir des notifications lorsqu’un
                        nouveau forum est publié.</label>
                </div>
            <h3>Sujets qui t’intéressent</h3>
                <div class="div-tags-button">
                    <div class="div-tags temoignage">
                
                    </div>
                </div>
                <div id='result' href="result={{id}}"></div>
                <button class="btn btn-outline-secondary" onclick="toggle_visibility('step1, step2');">Etape précédente</button>
                <button class="btn btn-outline-secondary" onclick="toggle_visibility('step2, step3');">Etape suivante</button>
        </div>

        <div class="hidden-div">
            <h2>Étape 3 : As-tu déjà des pratiques écologiques ? </h2>
            <p>Pour commencer dans l’application, renseigne les alternatives que tu as adoptées. Si tu ne 
                trouve pas une alternative, pas de panique, tu pourras créer sa fiche plus tard...</p>
        </div> -->
    
        <button type="submit" id="connexion" class="btn btn-primary">S'inscrire</button>
    </form>
</div>


<script type="text/javascript">
    // permet de faire apparaître/disparaître les etapes
    function toggle_visibility(id1, id2) {
        var e1 = document.getElementById(id1);
        var e2 = document.getElementById(id2);
        if(e1.style.display == 'block') {
           e1.style.display = 'none';
           e2.style.display = 'block';
        } else {
           e1.style.display = 'block';
           e2.style.display = 'none';
        }
    }
</script>

{% endblock %}