.center-content {
  text-align: center;
  margin: auto;
  width: 10%;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 20px solid black;
  display: inline-block;
  vertical-align: middle;
}

.container {
  display: flex;
}

.element {
  margin: 10px;
}